<!-- SOF DATABASEADMIN.HTML -->
{% extends "site_template.html" %}


<!-- Header: Title, CSS, and font control -->
{% block title %}<title>Database Admin | AUM site admin</title>{% endblock %}


<!-- Left Column: Site Logo and Main Navigation -->
{% block DABtn %}<a href="{% url 'databaseadmin' %}"><div class="act-on">Database Admin</div></a>{% endblock %}


<!-- Center Column: Main page content and navigation -->
{% block ccol %}
  <div id="bordered_550px">
    <div><p align="center">Placeholder for Database Administration v1.5</p></div>
  </div>
{% endblock %}


<!-- Right Column: Page specific additional renders -->
<!-- Using site_template.html defaults -->


<!-- Footer: Copyright and Contact information -->
<!-- Using site_template.html defaults -->


<!-- EOF DATABASEADMIN.HTML -->

