<!-- SOF EDITSTATION.HTML -->
{% extends "AddStation.html" %}


<!-- Header: Title, CSS, and font control -->
{% block title %}<title>Edit Station Module | AUM site admin</title>{% endblock %}


<!-- Left Column: Site Logo and Main Navigation -->
<!-- Using AddStation.html nav settings -->


<!-- Center Column: Main page content and navigation -->
<!-- Using AddStation.html form data -->


<!-- Right Column: Page specific additional renders -->
<!-- Using site_template.html defaults -->


<!-- Footer: Copyright and Contact information -->
<!-- Using site_template.html defaults -->


<!-- EOF EDITSTATION.HTML -->

