<!-- SOF EDITUSER.HTML -->
{% extends "AddUser.html" %}


<!-- Header: Title, CSS, and font control -->
{% block title %}<title>Edit User | AUM site admin</title>{% endblock %}


<!-- Left Column: Site Logo and Main Navigation -->
<!-- Using AddUser.html nav settings -->


<!-- Center Column: Main page content and navigation -->
<!-- Using AddUser.html form data -->


<!-- Right Column: Page specific additional renders -->
{% block rcol %}
  <div id="unbordered_200px">
    <div class="btn">Save as Manager</div>
    <div class="btn">Save as Admin</div>
    <div class="btn">Save as Owner</div>
  </div>
{% endblock %}


<!-- Footer: Copyright and Contact information -->
<!-- Using site_template.html defaults -->


<!-- EOF EDITUSER.HTML -->

