<!-- SOF ERROR.HTML -->
{% extends "site_template.html" %}

<!-- Header: Title, CSS, and font control -->
{% block title %}<title>Error | AUM site admin</title>{% endblock %}


<!-- Left Column: Site Logo and Main Navigation -->
<!-- Using site_template.html defaults -->


<!-- Center Column: Main page content and navigation -->
{% block ccol %}
  {% if message_list %}
    <div class="ab-center">
    {% for message in message_list %}
        <p>{{message.message}}</p>
        <br>
    {% endfor %}
    </div>
  {% else %}
    <p> An error has occurred.
    <br>Please use your browsers back button.</p>
  {% endif %}
{% endblock %}


<!-- Right Column: Page specific additional renders -->
<!-- Using site_template.html defaults -->


<!-- Footer: Copyright and Contact information -->
<!-- Using site_template.html defaults -->


<!-- EOF ERROR.HTML -->

