<!-- SOF LOGIN.HTML -->
{% extends "site_template.html" %}


<!-- Header: Title, CSS, and font control -->
{% block title %}<title>Log In | AUM site admin</title>{% endblock %}


<!-- Left Column: Site Logo and Main Navigation -->
<!-- Using site_template.html defaults -->


<!-- Center Column: Main page content and navigation -->
{% block ccol %}
  
  <!-- Login Form Errors and Unauthorized Access handling -->
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% endif %}
  {% endif %}

  <!-- Login Form -->
  <div id="unbordered_550px">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </div>
    <div>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </div>
    <div>
      <input type="submit" class="btn-submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    </form>

  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}


<!-- Right Column: Page specific additional renders -->
<!-- Using site_template.html defaults -->


<!-- Footer: Copyright and Contact information -->
<!-- Using site_template.html defaults -->


<!-- EOF LOGIN.HTML -->
