<head>
<title>Login Form</title>
</head>

<body>
<div class ="login">
    <hi>Login</h1>
    <form action ="login/" method="post">
    {% csrf_token %}
        <input type="text" name="u" placeholder="Username" required="required" user_id="user" />
        <input type="password" name="p" placeholder="Password" required="required" pword_id="pWord"/>    
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in bitches!!</button>
        
    
    </form>
</div>

</body>

